#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 60px 30px;
    background-color: var(--bg);
}

#contact #left {
    max-width: 500px;
    width: 100%;
    min-width: 320px;
}

#contact h2 {
    font-size: calc(20px + 1vw);
    margin-bottom: 15px;
}

#contact #right {
    max-width: 320px;
}

#contact img {
    max-width: 100%;
}

#contact form {
    background-color: var(--bg);
    padding: 25px 30px;
    margin: 25px 0px;
    border-radius: 10px;
}

#contact label {
    color: var(--color);
    font-size: 14px;
}

#contact input, #contact textarea {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 18px;
    margin-top: 6px;
    padding: 8px 12px;
    font-size: 14px;
}

#contact textarea {
    height: 90px;
}

#contact button {
    width: 100%;
    border-radius: 10px;
    max-width: initial;
    padding: 10px 30px;
    font-size: 15px;
}

@media screen and (max-width: 850px) {
    #contact {
        flex-direction: column-reverse;
        padding: 40px 20px;
    }
    
    #contact #right {
        max-width: 240px;
    }
    
    #contact #left {
        max-width: initial;
        min-width: initial;
        padding: 30px 0px 0px 0px;
    }

    #contact form {
        padding: 20px;
        margin: 20px 0px;
    }

    #contact input, #contact textarea {
        margin-bottom: 15px;
    }
    
    #contact #left .button {
        margin: 0px auto;
    }
}