* { 
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    width: 100vw;
    height: 100vh;
}

#parallax {
    height: 100vh;
    width: 100vw;
}

#parallax::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    perspective: 1px;
    transform: translateZ(-2px) scale(3);
    z-index: -1;
    
    background-image: url('./img_parallax.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    content: "";
}